<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.plugins.credentials.SystemCredentialsProvider plugin="credentials@2.1.9">
  <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
    <entry>
      <com.cloudbees.plugins.credentials.domains.Domain>
        <specifications/>
      </com.cloudbees.plugins.credentials.domains.Domain>
      <java.util.concurrent.CopyOnWriteArrayList>
        <com.nirima.jenkins.plugins.docker.utils.DockerDirectoryCredentials plugin="docker-plugin@0.16.2">
          <scope>GLOBAL</scope>
          <id>c817f2bd-894f-41d4-ae10-2ac14b6988f8</id>
          <description>Certificates of local MacBook docker-host (in virtual box)</description>
          <path>/usr/local/etc/jenkins/certs/</path>
        </com.nirima.jenkins.plugins.docker.utils.DockerDirectoryCredentials>
      </java.util.concurrent.CopyOnWriteArrayList>
    </entry>
  </domainCredentialsMap>
</com.cloudbees.plugins.credentials.SystemCredentialsProvider>