---
- hosts: 127.0.0.1
  connection: local
  
  tasks:
  - include_vars: credentials.yml
  - name: add credentials to Jenkins configuration
    xml:
      file: config-templates/credentials.xml
      xpath: /com.cloudbees.plugins.credentials.SystemCredentialsProvider/domainCredentialsMap/entry
      input_type: xml
      add_children: "{{ credentials }}"

  - name: Pretty print without modification
    xml:
      file: config-templates/credentials.xml
      pretty_print: True